{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container">
    <h2>Register user</h2>

    <div class="row">
        <div class="col">

            <form method="POST" action="{% url 'register_user' %}">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="center, homepage-btn">Submit</button>
            </form>

            <div>
                <a href="{% url 'home' %}" class="center, homepage-btn">Home</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}