{% extends 'base.html' %}
{% load static %}
{% block content %}

{% block content %}
    <!-- Landing Page Content -->
    <div id="flex-container" class="hidden">
        <h1>Tryst</h1>
        <h2>Catchy Slogan</h2>
        <div>
            <a href="#" id="create-account-btn" class="center, homepage-btn">Create account</a>
            <a href="#" id="create-account-btn" class="center, homepage-btn">Sign in</a>
        </div>
    </div>

    <!-- Create Profile Content -->
    <div id="create-profile-container">
        <h2>Create your profile</h2>
        <form action="" method="post">

        </form>
    </div>

    <div id="sign-in-content" class="hidden">

    </div>


    <script src="assets/js/script.js"></script>
{% endblock %}