{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Landing Page Content -->
    <div class="container">
        <h1>Tryst</h1>
        <h3>{{ test_current }}</h3>
        <h2> <em>For a Date to Remember</em></h2>
        <div>
            {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" id="create-account-btn" class="center, homepage-btn">Profile</a>
            <a href="{% url 'location_match' %}" id="create-account-btn" class="center, homepage-btn">Location match</a>
            <a href="{% url 'logout_user' %}" id="create-account-btn" class="center, homepage-btn">Logout</a>
            {% else %}
            <a href="{% url 'register_user' %}" id="create-account-btn" class="center, homepage-btn">Create account</a>
            <a href="{% url 'login_user' %}" id="create-account-btn" class="center, homepage-btn">Sign in</a>
            {% endif %}
        </div>
    </div>

    <!-- Create Profile Content -->
    <div id="create-profile-container">
        <h2>Create your profile</h2>
        <form action="" method="post">

        </form>
    </div>

    <div id="sign-in-content" class="hidden">

    </div>

    <p>test</p>
    <script src="assets/js/script.js"></script>
{% endblock %}