{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Landing Page Content -->
    <div id="home-container">
        <h1>Escapade</h1>
        <h2> <em>For a Date to Remember</em></h2>
        <div>
            <a href="" id="create-account-btn" class="center, homepage-btn">Create account</a>
            {% if user.is_authenticated %}
            <a href="{% url 'logout_user' %}" id="create-account-btn" class="center, homepage-btn">Logout</a>
            {% else %}
            <a href="{% url 'login_user' %}" id="create-account-btn" class="center, homepage-btn">Sign in</a>
            {% endif %}
        </div>
    </div>


    <script src="assets/js/script.js"></script>
{% endblock %}