<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create your Profile</title>
</head>

<body>
    <h1>Create your profile</h1>
    <form action="" method="post">
        <fieldset>
            <label for="fname">What's your first name?</label>
            <input type="text" name="fname" id="fname" required>

            <label for="email">What's your email address?</label>
            <input type="email" name="email" id="email" required>

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>

            <label for="confirm-password">Password:</label>
            <input type="password" name="confirm-password" id="confirm-password" required>

            <label for="dob">When's your birthday?</label min="2004-02-24" required>
            <input type="date" name="dob" id="dob">

            <label for="gender">How do you identify?</label>
            <select name="gender" id="gender">
                <option value="nonbinary">Nonbinary</option>
                <option value="woman">Woman</option>
                <option value="man">Man</option>
                <option value="other">Other</option>
                
            </select>
            <div id="ifYes" style="display: none;">
                <label for="other-gender">How do you identify?</label>
                <input type="text" id="other-gender" name="car">
            </div>
        </fieldset>
    </form>
</body>

</html>