{% extends 'base.html' %}
{% load static %}

{% block content %}

    <h1>Profile Page</h1>
    {% for profile in object_list %}
        {% if user.id == profile.user.id %}
            
            </br>
            <!--Member bio-->
            <div class="card-container">
                <!--Member details-->
                <div class="card">
                    <div class="d-flex justify-content-center">
                    {% if "placeholder" in profile.image.url %}
                        <img src="{% static 'images/placeholder.jpeg' %}" alt="placeholder image" width="100%">
                    {% else %}
                        <img src=" {{ profile.image.url }} " alt="Profile Image" width="100%">
                    {% endif %}
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ profile.display_name }}</h5>
                        <p class="card-text">Age: {{ profile.age }}</p>
                        <p class="card-text">{{ profile.bio }}</p>
                        <p class="card-text">{{ profile.relationship_status}}</p>
                        <p class="card-text">{{ profile.looking_for}}</p>
                        <p class="card-text">{{ profile.job_title}}</p>
                        
                        <p class="card-text">{{ profile.county }}</p>
                        <p class="card-text">{{ item.category }}</p>
                    </div>
                    <a href="{% url 'profile-update' profile.id %}" class="center, homepage-btn">Update Profile</a>
                    <a href="{% url 'delete-profile' profile.id %}"class="center, homepage-btn">Delete Profile</a>
                    <a href="{% url 'home' %}"class="center, homepage-btn">Main Menu</a>
                </div>
                <hr>
            </div>
        {% elif request.user.id != profile.user.id %}
            <a href="{% url 'create-profile' %}" class="center, homepage-btn" >Create Profile</a>
        {% endif %}
    {% endfor %}
  
   
{% endblock %}