{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="home-container">


    <h2>Login user</h2>


    <form method="POST" action="{% url 'login_user' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">User name</label>
            <input type="text" name="username" class="form-control" id="username" aria-describedby="enter a user name">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>

        <button type="submit" class="center, homepage-btn">Submit</button>
    </form>

    <div>
        <a href="{% url 'home' %}">HOME</a>
    </div>
</div>

{% endblock %}