{% extends 'base.html' %}
{% load static %}
{% block content %}


<h1>Location Match Page</h1>



{% for location in all_locations %}
<!-- <a href="{% url 'liked_location' location.id %}">{{ location.name }}</a> -->
<a href="{% url 'liked_location' location.id %}" id="create-account-btn" class="center, homepage-btn">{{ location.name }}</a>
{% endfor %}
{% if liked_location %}
<h2>Others who are looking in {{ liked_location.name }}</h2>
<h3></h3>
<ul>
{% for user in liked_location.liked_by.all %}
<li><a href="{% url 'get_or_create_chat' user2=user.id %}" id="create-account-btn" class="center, homepage-btn">{{ user }} {{ user.id }}</a></li>
{% endfor %}
</ul>
{% endif %}
<br>
<a href="{% url 'home' %}" id="create-account-btn" class="center, homepage-btn">Home</a>

{% endblock %}